#content {
    max-width: max-content;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    border: 3px solid black;
    border-radius: 20px;
    padding: 50px;
}

td {
    height: 40px;
    width: 40px;
}

button {
    padding: 5px;
    margin: 10px 20px 10px 0px;
}